<!-- Search Bar -->
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-
        scale=1">
        <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-
        awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/index.css">
    </head>
    <body>
        <h1><center>Queen's Search Engine</center></h1>
        <form class="example" method="post" action=""
         style="margin:auto;max-width:600px">
            <input type="text" placeholder="Search" name="find">
            <button type="submit"><i class="fa fa-search"></i>
            </button>
        </form>
        <style>
          #box1 {
            height: 50px;
            width: 500px;
            overflow: auto;
          }
        </style>
        <div id="box1"> </div>
        <style>
          #box2 {
            height: 500px;
            width: 500px;
            overflow: auto;
          }
        </style>
        <style>
          #box3 {
            float: right;
            width: 500px;
            overflow: auto;
          }
        </style>
        <div id="box3">
          <center>
          {% for item in adverts %}
              {{item[0]}}
              <div id="box1"> </div>
          {% endfor %}
          </center>
        </div>
        <div id="box2">
          <center>
          {% for item in data %}
              {{item[0]}}
              <div id="box1"> </div>
              {{item[1]}}
              <div id="box1"> </div>
          {% endfor %}
          </center>
        </div>
    </body>
</html>
