<!DOCTYPE html>
<html>
  <head>
    <title>Queen's Search Engine</title>
  </head>
  <body>
    {% extends "layout.html" %}
    {% block content %}
      <div class="results">
        <h1>Results</h1>
        <p>Please search for a word</p>
      </div>
    {% endblock %}
    <p></p>
    <center>
    {% for item in data %}
        <tr>
            <td> {{item[0]}} by {{item[1]}}</td>
            </br>
        </tr>
    {% endfor %}
    </center>
  </body>
</html>
