/* CSS for search file */
body {
  font-family: Arial;
}
* {
  box-sizing: border-box;
}
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}
form.example button:hover {
  background: #0b7dda;
}
form.example::after {
  content: "";
  max-width: 200px;
  text-overflow: ellipsis;
  clear: both;
  display: table;
}

.results1 {
  white-space: nowrap;
  width: 400px;
  max-height: 200px;
  overflow: hidden;
  text-overflow: ellipsis;;
}

td {
  max-width: 200px;
  display: table-cell;
  vertical-align: inherit;
  text-overflow: ellipsis;
  white-space:nowrap;
}
